@font-face {
	font-family: 'Digital-7 Mono';
	src: url('../fonts/digital-7.mono.eot');
	src: local('☺'), url('../fonts/digital-7.mono.woff') format('woff'), url('../fonts/digital-7.mono.ttf') format('truetype'), url('../fonts/digital-7.mono.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EuropeExt';
	src: url('../fonts/EuropeExt_Bold_Italic.eot');
	src: local('☺'), url('../fonts/EuropeExt_Bold_Italic.woff') format('woff'), url('../fonts/EuropeExt_Bold_Italic.ttf') format('truetype'), url('../fonts/EuropeExt_Bold_Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ruberoid';
	src: url('../fonts/Ruberoid-UltraLight.eot');
	src: local('☺'), url('../fonts/Ruberoid-UltraLight.woff') format('woff'), url('../fonts/Ruberoid-UltraLight.ttf') format('truetype'), url('../fonts/Ruberoid-UltraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ruberoid-UltraLightOblique';
	src: url('../fonts/Ruberoid-UltraLightOblique.eot');
	src: local('☺'), url('../fonts/Ruberoid-UltraLightOblique.woff') format('woff'), url('../fonts/Ruberoid-UltraLightOblique.ttf') format('truetype'), url('../fonts/Ruberoid-UltraLightOblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body{
    background-color: #000816;
}

.header{
    position: sticky;
    top: 0;
}
.content{
    flex: 1 1 auto;
}

.top__logo img{
    max-width: 100%;
}

.top__row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timer{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.top__format-time-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.top__format{
    padding: 20px 0px;
    font-family: 'EuropeExt', arial;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
}

.top__date{
    font-family: 'EuropeExt', arial;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left; 
    color:white;     
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%; 
    height: 100%; 
    padding: 0;
    margin: 0;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.top__registration {
    padding: 35px 30px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	max-width: 592px;
	height: 114px;
	border-radius: 10px;
	overflow: hidden;
}

.top__registration::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -250%;
    width: 200%;
    height: 600%;
    background-color: #000816;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
    animation: rotate 4s linear infinite;
}


.top__registration::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #000816;
    border-radius: 5px;
    transition-duration: 1s;
}

.top__registration p{
    font-family: 'EuropeExt';
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    color: white;
}

.button{
    border-radius: 50%;
    background-image: url('../icons/Group\ 66.svg');
}

.redirect_button{
    padding: 5% 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    left: 50%;
}

.top__registration:hover::after {
    transition-duration: 1s;
	animation: opacityChange 5s infinite linear;
}

@keyframes opacityChange {
	50% {
		opacity:0.5;
	}
	100% {
		opacity: 1;
	}
}

.top{
    position: relative;
}

@keyframes slide1 {
    0% { 
        transform: translateX(-100%); 
    }
    100% { 
        transform: translateX(100%); 
    }
}

@keyframes slide2 {
    0% { 
        transform: translateX(-100%); 
    }
    100% { 
        transform: translateX(100%); 
    }
}

.running-string {
    padding: 10px 0px;
    position: relative;
}


.running-string span{
    display: inline-block;
    font-family: 'EuropeExt';
    font-size: 2vw;
    font-style: italic;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;

    color: black;
    position: relative;
    left: 5%;
    font-size: 2vw;
    overflow: hidden;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    
}




.format{
    padding: 88px 0px 147px 0px; 
}

.format__text{
    padding: 39px 0px 0px 0px;
}


.timer{
    margin: auto;
    font-family: 'Digital-7 Mono';
    display: flex;
    justify-content: space-between;
    max-width: 505px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.timer__text{
    height: 20px;
    font-family: 'Digital-7 Mono';
    font-size: 22px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}

.timer__dots{
    position: relative;
    top: -18px;
    
    font-family: 'Digital-7 Mono';
    font-size: 80px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
}

.timer__amount{
    height: 70px;
    font-family: 'Digital-7 Mono';
    font-size: 80px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;

}

/* adequat approach starts here */

.container{
    max-width: 80%;
    margin: 0px auto;
    padding: 0px 15px;
}

@media (max-width: 1200px){
    .container{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}

@media (max-width: 767px){
    .container{
        max-width: none;
    }
}

.title{
    font-family: 'EuropeExt';
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

@media (max-width: 767px){
    .title{
        font-size: 25px;
    }
}


.text{
    font-family: 'Ruberoid';
    font-size: 32px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: justify;
    color: white;
}

@media (max-width: 767px){
    .text{
        font-size: 23px;
    }
}


.about-hack{
    padding: 170px 0px 88px;
}

.about-hack__text{

}

.format{
    padding: 80px 0px 147px;
}
.format__title{

}

.format__text{

}
.hack-in-numbers{
    padding: 147px 0px 178px;
}
.hack-in-numbers__title{

}
.hack-in-numbers__text_2021{
    text-align: center;
    padding: 34px 0px 143px;
}

.hack-in-numbers__text{
    text-align: center;
}
.hack-in-numbers__icons{
}

.hack-in-numbers__row{
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    justify-content: space-between;
}

.hack-in-numbers__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 5px;
    padding: 2%;
    max-width: 318px;
    max-height: 342px;
    margin: 10px auto;
}

.hack-in-numbers__box img{
    display: block;
    max-width: 100%;
    height: 80%;
    margin: 0 auto;
}

.categories{
    padding: 178px 0px 119px;
}

.categories__title{
    padding: 0px 0px 65px 0px;
}


.categories__text{

}

.what-you-get{
    padding: 119px 0px 130px; 
}

.what-you-get__title{
    padding: 0px 0px 95px 0px;
}

.what-you-get__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.what-you-get__column{
    margin: 0 auto;
}

.what-you-get__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    max-width: 310px;
    height: 310px;
    margin: 30px auto;
}

.what-you-get__item img{
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.what-you-get__text{
    font-size: 24px;
    text-align: center;
}

.how-to-apply{
    padding: 130px 0px 168px;
}

.how-to-apply__title{
    padding: 0px 0px 94px 0px;
}

.how-to-apply__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.how-to-apply__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 20%;
}

.how-to-apply__text{
    text-align: center;
    font-size: 30px;
    width: 100%;
}
.faq{
    padding: 168px 0px 74px;
}
.faq__title{
    padding: 0px 0px 46px 0px;
    font-size: 64px;
}
.faq__column{
    display: flex;
    flex-direction: column;
}

.faq__item{
    padding: 22px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}
.faq__text{
    padding: 0px 20px 0px 0px;
}
.faq__questions{
    padding: 68px 0px 0px 0px;
    
}
.faq__text_questions{
    text-align: center;
    color: #A9CDEF;
}
.faq__text_bot{
    color: #A9CDEF;
    text-shadow: #A9CDEF 5px 5px 10px;
}
.about-best{

}
.about-best__title{
    padding: 0px 0px 43px 0px;
}

.about-best p{
    padding: 0px 0px 32px 0px;
}
.about-best__row{

}
.about-best__column{

}
.about-best__text{

}
.about-best__list-item{
}

/* bullshit is here */

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}


.categories__row{
    padding: 5% 0 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.categories__item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.categories__column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.categories__column img{
    margin: 0 auto;
}

.categories__item p{
    text-align: left;
}

.categories__table {
    margin: 0 auto;
	position: relative;
	z-index: 0;
	max-width: 1100px;
	max-height: 690px;
	border-radius: 10px;
	overflow: hidden;
}

.categories__table::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 280%;
    background-color: #000816;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
    animation: rotate 4s linear infinite;
}

.categories__table::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #000816;
    border-radius: 5px;
}


/* even more bullshit */


