@font-face {
	font-family: 'Digital-7 Mono';
	src: url('../fonts/digital-7.mono.eot');
	src: local('☺'), url('../fonts/digital-7.mono.woff') format('woff'), url('../fonts/digital-7.mono.ttf') format('truetype'), url('../fonts/digital-7.mono.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EuropeExt';
	src: url('../fonts/EuropeExt_Bold_Italic.eot');
	src: local('☺'), url('../fonts/EuropeExt_Bold_Italic.woff') format('woff'), url('../fonts/EuropeExt_Bold_Italic.ttf') format('truetype'), url('../fonts/EuropeExt_Bold_Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ruberoid';
	src: url('../fonts/Ruberoid-UltraLight.eot');
	src: local('☺'), url('../fonts/Ruberoid-UltraLight.woff') format('woff'), url('../fonts/Ruberoid-UltraLight.ttf') format('truetype'), url('../fonts/Ruberoid-UltraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ruberoid-UltraLightOblique';
	src: url('../fonts/Ruberoid-UltraLightOblique.eot');
	src: local('☺'), url('../fonts/Ruberoid-UltraLightOblique.woff') format('woff'), url('../fonts/Ruberoid-UltraLightOblique.ttf') format('truetype'), url('../fonts/Ruberoid-UltraLightOblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    scroll-behavior: smooth;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body{
    background-color: #000816;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    opacity: 1;
}

.content{
    flex: 1 1 auto;
}

.top{
    position: relative;
    height: 100vh;
    padding: 10% 0;
}

.top__logo{
    margin: 0 auto;
}

.top__logo img{
    max-width: 100%;
}

.top__row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.timer{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.top__format-time-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;

}

.top__format{
    
    font-family: 'EuropeExt', arial;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
}

.top__date{
    padding: 20px 0px;
    font-family: 'EuropeExt', arial;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left; 
    color:white; 
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%; 
    height: 100%; 
    padding: 0;
    margin: 0;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.top__registration {
    padding: 35px 30px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	max-width: 592px;
	height: 114px;
	border-radius: 10px;
    background-color: #000816;
	overflow: hidden;
    transition-duration: 0.5s;
}

.top__registration:hover{
    padding: 29px 24px;
    transition-duration: 0.5s;
    border-color: rgba(168, 239, 255, 1);
    border-style: solid;
    border-width: 5px;
}

.top__registration::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -250%;
    width: 200%;
    height: 600%;
    background-color: #000816;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
    animation: rotate 4s linear infinite;
}

.top__registration:hover:before{
    display: none;
}

.top__registration:hover:after{
    display: none;
}


.top__registration::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #000816;
    border-radius: 5px;
}


.top__registration p{
    font-family: 'EuropeExt';
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    color: white;
}

@media (max-width: 1200px){
    .top__registration p{
        font-size: 30px;
    }
}

.button{
    border-radius: 50%;
    background-image: url('../icons/Group\ 66.svg');
}

.redirect_button{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.redirect__button a{
    text-align: center;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border-style: solid;
    border-color: #A9CDEF;
    border-width: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}

.redirect__button img{
    width: 70%;
    height: 70%;
}

.redirect__button a:hover{
    transition-duration: 0.5s;
    box-shadow: 0px 0px 20px 5px #A9CDEF;
}


.top__registration:hover::after {
    transition-duration: 1s;
	animation: opacityChange 5s infinite linear;
}

@keyframes opacityChange {
	50% {
		opacity:0.5;
	}
	100% {
		opacity: 1;
	}
}


@keyframes slide1 {
    0% { 
        transform: translateX(-100%); 
    }
    100% { 
        transform: translateX(100%); 
    }
}

@keyframes slide2 {
    0% { 
        transform: translateX(-100%); 
    }
    100% { 
        transform: translateX(100%); 
    }
}

.running-string {
    padding: 10px 0px;
    position: relative;
}


.running-string span{
    display: inline-block;
    font-family: 'EuropeExt';
    font-size: 2vw;
    font-style: italic;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;

    color: black;
    position: relative;
    left: 5%;
    font-size: 2vw;
    overflow: hidden;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    
}




.format{
    padding: 88px 0px 147px 0px; 
}

.format__text{
    padding: 39px 0px 0px 0px;
}


.timer{
    margin: auto;
    font-family: 'Digital-7 Mono';
    display: flex;
    justify-content: space-between;
    max-width: 505px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.timer__text{
    height: 20px;
    font-family: 'Digital-7 Mono';
    font-size: 22px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}

.timer__dots{
    position: relative;
    top: -18px;
    
    font-family: 'Digital-7 Mono';
    font-size: 80px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
}

.timer__amount{
    height: 70px;
    font-family: 'Digital-7 Mono';
    font-size: 80px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;

}

/* adequat approach starts here */

.container{
    max-width: 1500px;
    margin: 0px auto;
    padding: 0px 15px;
}

@media (max-width: 1600px){
    .container{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}

@media (max-width: 767px){
    .container{
        max-width: none;
    }
}

.title{
    font-family: 'EuropeExt';
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

@media (max-width: 767px){
    .title{
        font-size: 25px;
    }
}


.text{
    font-family: 'Ruberoid';
    font-size: 32px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: justify;
    color: white;
    -webkit-text-stroke: 1px white;
}

@media (max-width: 767px){
    .text{
        font-size: 23px;
    }
}


.about-hack{
    padding: 170px 0px 88px;
}

.about-hack__text{

}

.format{
    padding: 80px 0px 147px;
}
.format__title{

}

.format__text{

}
.hack-in-numbers{
    padding: 147px 0px 178px;
}
.hack-in-numbers__title{

}
.hack-in-numbers__text_2021{
    text-align: center;
    padding: 34px 0px 143px;
}

.hack-in-numbers__text{
    text-align: center;
}
.hack-in-numbers__icons{
}

.hack-in-numbers__row{
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    justify-content: space-between;
}

.hack-in-numbers__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 5px;
    padding: 2%;
    width: 318px;
    height: 342px;
    margin: 0px 10px;
    animation: border-hack-in-numbers 4s infinite;
}

@keyframes border-hack-in-numbers{
    0% {
        border-color: white;
    }
    50% {
        border-color: #000816;
    }
    100% {
        border-color: white;
    }
}

.hack-in-numbers__box img{
    display: block;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.categories{
    padding: 178px 0px 119px;
}

.categories__title{
    padding: 0px 0px 65px 0px;
}


.categories__text{

}

.what-you-get{
    padding: 119px 0px 130px; 
}

.what-you-get__title{
    padding: 0px 0px 95px 0px;
}

.what-you-get__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.what-you-get__row{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.what-you-get__item{
    position: relative;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    margin: 0px 80px 95px 80px;
}

.what-you-get__item_front{
    position: absolute;
    top: 0;
    left: 0;
    padding: 43px 0px 43px 0px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 6px;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.what-you-get__item_back{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 6px;
    backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
    transform: rotateY(180deg);
}

.what-you-get__item_back p {
    font-family: 'Ruberoid';
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}


.what-you-get__item:hover{
    transform: rotateY(180deg);
}

.what-you-get__item_front img{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.what-you-get__item_front p{
    filter: drop-shadow(0 0 12px #A9CDEF);
    -webkit-text-stroke: 1px white;
}

.what-you-get__text{
    font-size: 24px;
    text-align: center;
}

.how-to-apply{
    padding: 130px 0px 168px;
}

.how-to-apply__title{
    padding: 0px 0px 94px 0px;
}

.how-to-apply__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.how-to-apply__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 25%;
}

.how-to-apply__text{
    height: 100%;
    text-align: center;
    font-size: 30px;
    width: 80%;
}

.agenda{
    padding: 160px 0px 160px 0px;
}

.agenda__text{
    padding: 76px 0px 0px 0px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;

}
.faq{
    padding: 168px 0px 74px;
}
.faq__title{
    padding: 0px 0px 50px 0px;
    font-size: 64px;
}
.faq__column{
    display: flex;
    flex-direction: column;
}


.faq__item{
    
    border-style: solid;
    border-width: 2.5px 5px 2.5px 5px;
    border-color: white;
    position: relative;
}

.faq__item:last-child{
    border-width: 2.5px 5px 5px 5px;
}

.faq__item:first-child{
    border-width: 5px 5px 2.5px 5px;
}

.faq__text{
    padding: 0px 20px 0px 0px;
}
.faq__questions{
    padding: 68px 0px 0px 0px;   
}

.faq__text_questions a{
    color: #A9CDEF;
    filter: drop-shadow(0 0 15px #A9CDEF);
}

.faq__text_questions{
    filter: drop-shadow(0 0 12px #A9CDEF);
    -webkit-text-stroke: 1px #A9CDEF;

}

.faq__text_questions{
    font-family: 'Ruberoid';
    font-size: 32px;
    font-weight: 300;
    line-height: 47px;
    text-align: center;
    filter: drop-shadow(0 0 15px #A9CDEF);
}

.faq__text_questions{
    text-align: center;
    color: #A9CDEF;
}
.about-best{

}
.about-best__title{
    padding: 0px 0px 43px 0px;
}

.about-best p{
    padding: 0px 0px 32px 0px;
}
.about-best__row{

}
.about-best__column{

}
.about-best__text{

}
.about-best__list-item{
}

/* bullshit is here */

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.categories__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;

}

.categories__item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.categories__column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.categories__img{
    margin: 0 auto;
}

.categories__item p{
    text-align: left;
}

.categories__img::after{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/Ellipse.svg');
    background-repeat: no-repeat;
    background-position: 75% 75%;
    filter: drop-shadow(0 4px 50px #A9CDEF);
}

.categories__table {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
	position: relative;
	z-index: 0;
	max-width: 1100px;
	height: 690px;
	overflow: hidden;
   
}

.categories__table::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 280%;
    background-color: #000816;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
    animation: rotate 4s linear infinite;
}

.categories__table::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #000816;
    border-radius: 5px;
}


/* even more bullshit */

input {
    display: none;
}

.accordion {
    width: 400px;
}

.question {
    display: block;
}

.question img{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.faq__question {
    z-index:0;
    cursor: pointer;
    display: block;
    padding: 20px;
}

input:checked ~ .question .faq__answer {
    padding: 20px 20px;
    max-height: 1000px;
    border-width: 5px 0 0 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
}


input:checked ~ .question img{
    transform: rotate(90deg);
}

.faq__answer {
    padding: 0px 20px;
    width: 100%;
    display: block;
    max-height: 0;
    overflow: hidden;
    background:#3B82AA;
    transition: max-height 0.3s ease, padding 0.3s ease;
    border-color: #FFFFFF;
    border-style: solid;   
}

/* organizers related*/

.organizers{
    padding: 50px 0 0 0;
}

.organizers__title{

}

.organizers__grid{

}
.organizers__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0px;
}

.organizers__item{
    border-width: 2px;
    border-color: #A9CDEF;
    border-style: solid;
    box-shadow: 0px 0px 12px #A9CDEF;
    width: 242px;
    height: 330px; 
    
}

.organizers__item img{
    width: 100%;
    height: 70%;
}

.organizers__item p{
    height: 10%;
}


.organizers__name{
    font-size: 18px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0em;


}

.organizers__position{
    font-size: 13px;
    text-align: center;
    line-height: 19px;
    letter-spacing: 0em;
}
.organizers__email{
    font-size: 13px;
    text-align: center;
    line-height: 19px;
    letter-spacing: 0em;
}
